body{
    font-family: 'Roboto';
    margin: auto;
}
/**MENU**/
.flex{
    display: none;
}
#menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    font-family: "roboto", sans-serif;
    font-size: 14px;
    border-bottom: 1px solid #dfdfdf;
    padding-top: 5px;
    padding-bottom: 12px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#menu > div:hover{
    color: grey;
    cursor: pointer;
}

/**CNT1**/
#Title{
    position: sticky;
    justify-content: space-between;
    backdrop-filter: saturate(150%) blur(30px);
    top: 0px;
    padding-top: 2px;
    z-index: 100;
}
.Title2{
    align-items: center;
    display: flex;
    font-size: 0.9em;
    height: 48px;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    margin-top: 6px;
}
.center {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.center > img {
    width: 13%;
}
.center > div{
    margin-left: 10px;
}
.junipero{
    font-size: 23px;
    color: rgba(0, 0, 0, 0.88);
    cursor: pointer;
}
.Title1{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Title1 > div{
    padding: 0 8px;
}
.link{
    font-size: 13px;
    color: #000000;
    cursor: pointer;
}

.link:hover{
    color: grey;
}

.btn{
    display: flex;
    padding: 0 10px;
    font-size: 11px;
    color: #ffffff;
    line-height: 24px;
    background-color: #FF4169;
    border: 1px solid #FF4169;
    border-radius: 6px;
    cursor: pointer;
}

.btn:hover{
    color: grey;
    cursor: pointer;
}

/**CNT2**/
#content1{
    display: flex;
    flex-direction: column;
    margin-top: 110px;
    align-items: center;
}

.titl1{
    font-size: 60px;
    font-weight: 600;
    line-height: 1;
}
#content1 > img{
    margin-top: 46px;
}

#content1 > p {
    line-height: 28.5px;
    font-size: 20px;
    text-align: center;
    width: 54%;
}
.pitl1{
    display: flex;
    margin-top: 10px;
    font-size: 22px;
    color: grey;
}

#ptil14{
    text-align:center;
    margin-top:30px;
    color:gray;
    font-size:1em;
    padding:20px;
}
#line{
    margin:20px;
    display:inline;
}
.pitll12{
    max-width: 583px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 21px;
    margin-top: 35px;
}
.ahr2{
    display: flex;
    align-items: center;
    color: #06c;
    cursor: pointer;
    font-size: 20px;
}
.wacht{
    text-decoration: none;
    color: #06c;
}

/**CNT3**/
#bruhes{
    text-align: center;
    margin-top: 100px;
    background-color: #EFEFEF;
}

.img45{
    background-image: url('./IMAGENES/bg_painting.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main21{
    margin-top: 90px;
}

.ttw2{
    font-size: 55px;
    font-weight: bold;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}

.ppw3{
    color: gray;
    max-width: 591px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 21px;
    margin-top: 35px;
}

#cards{
    display: flex;
    flex-direction: row;
    background-color: #EFEFEF;
    justify-content: center;
}

.card1{
    color: white;
    background-color: #E5878A;
    margin-top: 47px;
    border-radius: 20px;
    margin-left: 7px;
    padding: 36px;
    text-align: left;
    width: 73%;
}

.htn1{
    font-size: 30px;
    padding-top: 15px;
}

.ptn1{
    margin-top: 6px;
    opacity: 0.77;
    font-size: 18px;
    max-width: 340px;
}
.ftncc{
    margin-top: 21px;
    width: 60%;
}
.card1 > img{
    max-width: 326px;
    height: auto;
    margin-top: 10px;
}
.card2{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    text-align: left;
    margin-top: 20px;
    align-items: center;
    height: 210px;
    max-width: 559px;
    margin-bottom: 25px;
}
.htn2{
    font-size: 30px;
}
.ptn2{
    margin-top: 6px;
    opacity: 0.77;
    font-size: 18px;
    max-width: 340px;
    margin-right: 6px;
}
.ftnf2{
    align-self: center;
    margin-left: 90px;
}
.card3{
    color: black;
    background-color: white;
    border-radius: 20px;
    margin-top: 48px;
    margin-left: -90px;
    padding: 20px;
    max-width: 450;
    margin-bottom: 38px;
}
.htn3{
    font-size: 30px;
    text-align: left;
    padding-top: 30px;
}
.ptn3{
    margin-top: 13px;
    opacity: 0.77;
    font-size: 17px;
    text-align: left;
}
.card3 >  div img {
    padding-left: 15px;
    width: 100%;
    margin-top: -10px;
}
.ftn3{
    margin-top: 45px;
    text-align: right;
    padding: 0px 0 0 50px;
}
/**CNT4**/
#cnt4{
    background-color: #fafafa;
    display: flex;
    justify-content: center;
}
.cnt41{
    padding: 100px;
}
.ctn1{
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}
.ctn2{
    text-align: center;
    font-size: 20px;
    line-height: 1.45;
    margin-top: 20px;
}

.primary{
    color: #ffcc00;
}
#cartas{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
    margin-top: 40px;
}

#cartas > div {
    background-color: rgba(0, 0, 0, 0.05);
    text-align: center;
    width: 14%;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 33px;
    width: 246px;
}
#cartas > div img {
    margin-bottom: 10px;
}

#cartas > div p {
    margin-top: 16px;
}

#cartas > div:nth-child(2){
    margin-left: 30px; 
    margin-right: 30px;
}

#cartas > div:nth-child(5){
    margin-left: 30px; 
    margin-right: 30px;
}

#cnt5{
    background-color: #F2F2F2;
}

.ctn51{
    text-align: center;
    padding: 98px 0 0 0;
}
.ctn59{
    font-size: 60px;
    font-weight: bold;
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
}

.ctn66{
    max-width: 600px;
    margin-top: 23px;
    margin-right: auto;
    margin-left: auto;
    color: gray;
    font-size: 20px;
}

#cartod{
    display: flex;
    flex-direction: row;
}
.cartos1{
    background-color: white;
    padding: 35px;
    margin-top: 30px;
    color: black;
    margin-left: 100px;
    border-radius: 20px;
    width: 56%;
    text-align: start;
}
.cartos2{
    background-color: #DBA6DC;
    padding: 35px;
    margin-top: 30px;
    color: white;
    margin-left: 100px;
    border-radius: 20px;
    width: 56%;
    text-align: start;
    padding-bottom: 4px;
}
.cartod10{
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.cart56{
    font-size: 19px;
    font-weight: bold;
}
.cartp56{
    margin-top: 6px;
    opacity: 0.77;
}
.cartos2 > img {
    width: 100%;
    margin-top: 46px;
}
.cartodfo{
    height: 740px;
    max-width: 400%;
}
.circle{
    border: 1px solid white;
    border-radius: 22px;
    width: 17%;
    text-align: center;
    padding: 6px;
    margin-bottom: 15px;
}

/**FOOTER**/
#footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #F2F2F2;
    font-size: 14px;
    padding: 5px 0px 30px;
}

.col {
    margin-top: 16px;
}
#footer h3{
    color: black;
    margin-top: 0px;
    margin-left: 21px;
    padding-left: 16px;
    font-weight: bold;
    font-size: 13px;
    align-items: baseline;
}

#footer ul {
    list-style: none;
}

#footer ul a{
    color: grey;
    text-decoration: none;
    font-size: 12px;
}

#footer ul a:hover{
    opacity: 0.85;
    cursor: pointer;
}
#footer form{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.emailh4{
    font-size: 13px;
}
.emailtxt{
    max-width: 303px;
    font-size: 12px;
}
#emailbtn{
    padding: 15px;
    border-radius: 8px;
    border: 1px solid white;
    text-align: center;
    outline: none;
}
.btn2{
    display: flex;
    padding: 4px 10px;
    font-size: 11px;
    color: #ffffff;
    background-color: #026fc9;
    border: 1px solid #026fc9;
    border-radius: 6px;
    cursor: pointer;
    max-width: 66px;
    outline: none;
}
.bottomfooter{
    display: flex;
    flex-direction: row;
    padding: 1px 0px 35px;
    max-width: 1150px;
    margin-right: auto;
    margin-left: auto;
    border-top: 1px solid #cecece;
}
.bottomline{
    font-size: 12px;
    color: #86868b;
    padding-top: 10px;
}

#footer span {
    display: none;
}

@media only screen and (max-device-width: 730px) {
    .body{
        font-family: 'Roboto';
        margin: auto;
        min-width: 828px;
    }
    .flex {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        position: sticky;
        top: 0;
        backdrop-filter: saturate(150%) blur(30px);
        padding: 20px;
        z-index: 100;
        margin-right: -3px;
        margin-top: -3px;
    }
    .btn{
        font-size: 20px;
        padding: 12px;
        width: 4%;
        cursor: pointer;
    }
    .hiddenmenu{
        font-size: 43px;
        font-weight: bold;
        cursor: pointer;
    }
    .flex > span {
        font-size: 43px;
        cursor: pointer;
    }
    #Title{
        display: none;
    }
    #menu{
        display: none;
    }
    #content1{
        margin-top: 50px;
    }
    .pitll12{
        font-size: 25px;
        padding: 20px;
        max-width: 661px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 25px;
    }
    #content1 > img {
        width: 95%;
    }
    .pitl1{
        font-size: 30px;
        width: 60%;
    }
    .ahr2{
        font-size: 30px;
        margin-top: 30px;
    }
    .ttw2{
        font-size: 57px;
        width: 90%;
        padding: 25px;
    }
    .ppw3{
        font-size: 27px;
        color: black;
        padding: 7px;
        max-width: 739px;
        margin-left: auto;
        margin-right: auto;
    }
    .img45 > div img{
        width: 90%;
    } 
     #cards{
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }
    .card1{
        padding: 60px;
        text-align: start;
        width: 77%;
        margin-left: auto;
        margin-right: auto;    
    }
    .card1 > div img {
        width: 78%;
        margin-top: 22px;
    }
    .htn1{
        font-size: 45px;
        margin-top: -15px;
    }
    .ptn1{
        font-size: 23px;
        max-width: 488px;
    }
    .card2{
        padding: 48px;
        max-width: 630px;
        margin-left: auto;
        margin-right: auto;
    }
    .htn2{
        font-size: 45px;
    }
    .ptn2{
        max-width: 612px;
        font-size: 24px;
    }
    .card2 > div img {
        margin-top: 40px;
    }
    .card3{
        padding: 60px;
        text-align: left;
        margin-top: 10px;
        max-width: 600px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    .htn3{
        font-size: 45px;
        margin-bottom: 25px;
    }
    .ptn3{
        font-size: 26px;
    }
    .ftn3{
        margin-top: 50px;
        text-align: right;
    }
    .card3 > div img {
        margin-left: 35px;
    }
     .cnt41{
        padding: 63px 14px;
    }
     .ctn1{
        font-size: 49px;
        width: 64%;
    }
     .ctn2{
        font-size: 25px;
    }
    .ctn51 {
        padding: 34px;
    }
    #cartas {
        margin-top: 60px;
    }
    #cartas > div p {
        margin-top: 16px;
    }
    #cartas > div{
        font-size: 23px;
        width: 100%;
        max-width: 300px;
    }
    #cartas > div:nth-child(2) {
        margin-left: 30px;
        margin-right: -17px;
    }   
    .ctn66 {
        margin-top: 23px;
        margin-right: auto; 
        margin-left: auto; 
        color: gray;
        font-size: 31px;
        width: 600px;
    }
    #cartod {
        display: flex;
        flex-wrap: wrap;
    }
    .cartodfo{
        width: 100%;
        height: auto;
    }
    .cartos1{
        font-size: 25px;
        padding: 50px;
        width: 92%;
    }
    .cartos2{
        font-size: 25px;
        width: 92%;
        padding: 50px;
    }
    .cart56 {
        font-size: 26px;
    }
    .cardmobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 80px;
    }
    #footer{
        display: flex;
        flex-direction: column;
    }
    #footer h3{
        display: flex;
        color: black;
        font-weight: bold;
        cursor: pointer;
        font-size: 40px;
        padding-left: 6px;
        margin-bottom: 18px;
    }
    #footer ul a{
        display: none;
    }
    .line1{
        border-bottom: 1px solid #cecece;
        max-width: 773px;
        margin-left: auto;
        margin-right: auto;
    }
    .padd{
        padding-left: 35px;
    }
    .emailh4 {
        font-size: 30px;
        margin-bottom: 17px;
        margin-top: 24px;
    }
    .emailtxt {
        font-size: 25px;
    }
    #emailbtn {
        font-size: 26px;
    }
    .bottomfooter{
        max-width: 740px;
        margin-left: auto;
        margin-right: auto;
    }
    #footer span {
        display: flex;
        margin-left: auto;
        margin-right: 25px;
        font-size: 31px;
        cursor: pointer;
    }
    .btn2{
        font-size: 20px;
        max-width: 141px;
    }
    .bottomline {
        font-size: 28px;
    }
}

@media only screen and (max-device-width: 500px) {
    .body {
        min-width: 631px;
    }
    .flex {
        margin-right: -3px;
    }
    .btn {
        width: 6%;
    }
    .pitl1{
        font-size: 37px;
        width: auto;
    }
    .pitll12{
        font-size: 29px;
    }
    .ahr2{
        font-size: 40px;
    }
    .ttw2{
        font-size: 70px;
    }
    .ppw3{
        font-size: 38px;
    }
    .img45 > div img {
        width: 97%;
    }
    .card1{
        padding: 60px;
        text-align: start;
        width: 74%;
    }
    .ptn1{
        font-size: 32px;
    }
    .ftncc{
        width: 95%;
    }
    .card2{
        width: 75%;
    }
    .ptn2{
        font-size: 32px;
    }
    .card3{
        width: 85%;
        padding: 27px;
    }
    .htn3{
        margin-left: 0;
    }
    .ptn3{
        font-size: 32px;
    }
    .ctn1{
        font-size: 55px;
        width: 95%;
    }
    .ctn2{
        font-size: 32px;
        margin-top: 25px;
    }
    #cartas > div {
        width: 39%;
        padding: 22px;
    }
    .card2 {
        width: 78%;
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .ftnf2 {
        width: 100%;
    }
    .card2 > div img {
        width: 57%;
    }
    .card3 > div img {
        margin-left: 1px;
    }
    .ctn66{
        margin-top: 23px;
        margin-bottom: 20;
        font-size: 34px;
        width: 100%;
    }
    .cartos1 {
        font-size: 27px;
        padding: 52px;
        width: 92%;
    }
    .cart56 {
        font-size: 35px;
    }
    .cartos2{
        font-size: 32px;
    }
    #footer h3 {
        font-size: 45px;
    }
    .emailh4 {
        font-size: 37px;
    }
    .emailtxt {
        font-size: 27px;
        margin-bottom: 34px;
    }
    .bottomfooter {
        max-width: 558px;
        margin-left: auto;
        margin-right: auto;
    }
    .bottomline{
        font-size: 25px;
    }
    .line1{
        border-bottom: 1px solid #cecece;
        max-width: 585px;
        margin-left: auto;
        margin-right: auto;
    }
}